.navbar {
  // 组件应该保持默认的基本样式，对于页面单独需要的样式，在页面中单独指定就可以了
  // margin-top: -45px;
  color: #333 !important;
  background-color: #f6f5f6 !important;
  .am-navbar-light{
    color: #999;
  }
  .am-navbar-title {
    color: #333 !important;
  }
}
